@import '../../index';

.logo, nav .logo {
  @extend .brand-logo;
  position: relative;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &>img {
    display: flex;
    margin: 4px 0;
  }

  &>div {
    display: flex;
  }
}